.navbar {
    height: 5rem;
    background-color: darkblue;
    width: 100%;
}

.main {
    max-width: 800px;
    margin: auto;
}

.footer {
    height: 10rem;
    background-color: darkblue;
    width: 100%;
}